.infoTimeline {


  .imageWrapper {
    max-width: 475px;
  }

  .sectionDescription {
    max-width: 305px;
    font-size: 1.1rem;
    color: #4E5358;
  }

  .timelineDotsContainer {
    position: absolute;
  }



}

@media (min-width: 1225px) {
  .imageWrapper {
    max-width: 575px !important;
  }

  .sectionDescription {
    max-width: 520px !important;
    font-size: 1.3rem !important;
    color: #4E5358;
  }
}

@media (min-width: 780px) {
  .infoTimeline {
    background-image: url("/timeline-dots.svg");
    background-repeat: no-repeat;
    background-position: 25% 40%;
    background-size: 100% 80%;
  }

  .colOrderFirst {
    order: -1;
  }
}