  .heroImageContainer {
      position: relative;
      width: 100%; // Ensure it takes full width of the container
      height: 50vh; // Set the height of the container
      max-height: 50vh; // Set the maximum height of the container
      padding-top: 56.25%; // 16:9 aspect ratio (height = width * 9 / 16)
      overflow: hidden;
  }

  .imageWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  .hero_image {
      object-fit: cover; // Ensures the image covers the container, without stretching
      width: 100%;
      height: 100%;
  }

  .heroTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column; /* This makes the text stack vertically */
    justify-content: center; /* Vertically center text inside the container */
    align-items: center; /* Horizontally center text */
    z-index: 2;
  }

  .hero_text {
      color: white;
      text-align: center;
      width: 100%;
      padding: 5px 0;
      margin: 0;
  }

  @media (min-width: 768px) {
      .hero_text {
          font-size: 3.5rem;
          /* Larger text for larger screens */
      }
      .heroImageContainer {
        height: 20vh;
      }
  }

  @media (min-width: 1024px) {
      .heroImageContainer {
          padding-top: 25%;
          /* Adjust aspect ratio for larger screens if needed */
      }

      .heroTextContainer {
        padding-top: 0%;
      }

      .hero_text {
          font-size: 3.5rem;
          /* Adjust text size for large screens */
      }
  }

  @media (max-width: 1357px) {
    .hero_text {
        font-size: 3rem !important;
        /* Adjust text size for large screens */
    }
}