.news {
    transition: 200ms linear;
}

.news:hover {
    transform: scale(1.03);
}

.link {
    color: #1a375b;
    font-weight: bolder;
}

.date {
    color: #868e96;
}

.textLightGray {
    color: #868E96;
  }

.left {
    width: 100%;  
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem !important;
}

.right {
    margin-bottom: 1rem;
}